<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Empêcher les boucles de redirection
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    
    # Ne pas rediriger les fichiers et dossiers existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rediriger vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
